.item {
  max-width: 100vh;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 40px;
}

.item__match-search, .item__dealer-info {
  width: 40vw;
  height: inherit;
  font-size: 24px;
  padding: 20px;
  border: 1px solid #38A43A;
  background-color: #f2f2f2;
}

.item__match-search {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.item__proposap-title {
 margin-right: 10px;
}

.item__prod-name {
  height: inherit;
}

.item__buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.item__back-link {
  text-decoration: none;
  color: rgb(56, 164, 58);
}